.frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 15px;
  position: relative;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Red Hat Display", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame .ri-football-fill {
  height: 24px;
  position: relative;
  width: 24px;
}

.frame .eliminatorias {
  color: #000000;
  font-family: var(--buttons-font-family);
  font-size: var(--buttons-font-size);
  font-style: var(--buttons-font-style);
  font-weight: var(--buttons-font-weight);
  letter-spacing: var(--buttons-letter-spacing);
  line-height: var(--buttons-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
