.col-gap{
    gap: 30px;
}
.modal-header-container{
    background-color: #61c140;
}
.tabmodal{
    border:  1px solid;
    border-color:#6c757d;
    background-color: #fff;
    border-radius:  5px; 
    text-align: center;
    user-select: none;
    color:black;
    cursor: pointer;
    padding-top:10px;
    padding-bottom: 10px;
}
.tabmodal:hover{
    background-color: #0d6efd;
    color:#fff;
}
.active{
    background-color: #B4E0A3;
    color: black;
}

.active:hover{
    background-color: #0d6efd;
    color:#fff;
}