.film-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.film-page .frame-wrapper {
  background-color: #ffffff;
  width: 100%;
}

.film-page .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  width: 100%;
  max-width: 805px;
  margin: auto;
}

.film-page .header {
  background-color: #61c140;
  border-radius: 2px;
  height: 65px;
  display: flex;
  width: 100%;
  max-width: 805px;
}

.film-page .div {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.68px;
  line-height: normal;
  margin-left: 30px;
  margin-top: 22px;
}

.film-page .solar-football-bold {
  height: 27px;
  width: 27px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 19px;
}

.film-page .canal-d-sports {
  color: #000000;
  font-family: "Red Hat Display", Helvetica;
  font-size: 35px;
  font-weight: 400;
  height: 91px;
  letter-spacing: 1.57px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .span {
  font-weight: 500;
}

.film-page .text-wrapper-2 {
  font-family: var(--basic-title-font-family);
  font-size: var(--basic-title-font-size);
  font-style: var(--basic-title-font-style);
  font-weight: var(--basic-title-font-weight);
  letter-spacing: var(--basic-title-letter-spacing);
  line-height: var(--basic-title-line-height);
}

.film-page .video-player {
  border-radius: 2px;
  position: relative;
  width: 100%;
}

.film-page .video-player-2 {
  border-radius: 2px;
  /* height: 403px; */
  width: 100%;
}

.film-page .options {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top:40px;
}


@media (max-width: 1220px) {
  .options {
      top:100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
  }
}

@media (max-width: 900px) {
  .options {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      left: auto;
  }
}

@media (max-width: 600px) {
  .options {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
}

@media (max-width: 400px) {
  .options {
      display: flex;
      flex-direction: column; 
      gap: 10px;
  }
}
.film-page .frame-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
  width: 100%;
}
@media (max-width: 1220px) {
  .frame-2  {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: auto;
  }
}
.film-page .reboot-button {
  background-color: #61c140;
  height: 45px;
  width: 100%;
}

.film-page .text-wrapper-3 {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 17px;
  font-weight: 500;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 100%;
  margin-top:25px;
}

.film-page .questions-answers {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.film-page .element {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.film-page .p {
  color: #000000;
  font-family: var(--third-title-font-family);
  font-size: var(--third-title-font-size);
  font-style: var(--third-title-font-style);
  font-weight: var(--third-title-font-weight);
  height: 32px;
  letter-spacing: var(--third-title-letter-spacing);
  line-height: var(--third-title-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .ver-canal-d-sports {
  color: #000000;
  font-family: var(--basic-text-font-family);
  font-size: var(--basic-text-font-size);
  font-style: var(--basic-text-font-style);
  font-weight: var(--basic-text-font-weight);
  height: 94px;
  letter-spacing: var(--basic-text-letter-spacing);
  line-height: var(--basic-text-line-height);
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .text-wrapper-4 {
  color: #000000;
  font-family: var(--basic-text-font-family);
  font-size: var(--basic-text-font-size);
  font-style: var(--basic-text-font-style);
  font-weight: var(--basic-text-font-weight);
  letter-spacing: var(--basic-text-letter-spacing);
  line-height: var(--basic-text-line-height);
}

.film-page .text-wrapper-5 {
  font-family: var(--basic-text-font-family);
  font-size: var(--basic-text-font-size);
  font-style: var(--basic-text-font-style);
  font-weight: var(--basic-text-font-weight);
  letter-spacing: var(--basic-text-letter-spacing);
  line-height: var(--basic-text-line-height);
  text-decoration: underline;
}

.film-page .text-wrapper-6 {
  color: #000000;
  font-family: var(--third-title-font-family);
  font-size: var(--third-title-font-size);
  font-style: var(--third-title-font-style);
  font-weight: var(--third-title-font-weight);
  height: 61px;
  letter-spacing: var(--third-title-letter-spacing);
  line-height: var(--third-title-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .para-poder-ver-todos {
  color: #000000;
  font-family: var(--basic-text-font-family);
  font-size: var(--basic-text-font-size);
  font-style: var(--basic-text-font-style);
  font-weight: var(--basic-text-font-weight);
  height: 113px;
  letter-spacing: var(--basic-text-letter-spacing);
  line-height: var(--basic-text-line-height);
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .text-wrapper-7 {
  color: #000000;
  font-family: var(--third-title-font-family);
  font-size: var(--third-title-font-size);
  font-style: var(--third-title-font-style);
  font-weight: var(--third-title-font-weight);
  letter-spacing: var(--third-title-letter-spacing);
  line-height: var(--third-title-line-height);
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .text-wrapper-8 {
  color: #000000;
  font-family: var(--basic-text-font-family);
  font-size: var(--basic-text-font-size);
  font-style: var(--basic-text-font-style);
  font-weight: var(--basic-text-font-weight);
  height: 37px;
  letter-spacing: var(--basic-text-letter-spacing);
  line-height: var(--basic-text-line-height);
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .text-wrapper-9 {
  color: #000000;
  font-family: var(--third-title-font-family);
  font-size: var(--third-title-font-size);
  font-style: var(--third-title-font-style);
  font-weight: var(--third-title-font-weight);
  letter-spacing: var(--third-title-letter-spacing);
  line-height: var(--third-title-line-height);
  position: relative;
  text-align: center;
  width: 100%;
}

.film-page .para-ver-todos-los {
  color: #000000;
  font-family: var(--basic-text-font-family);
  font-size: var(--basic-text-font-size);
  font-style: var(--basic-text-font-style);
  font-weight: var(--basic-text-font-weight);
  height: 37px;
  letter-spacing: var(--basic-text-letter-spacing);
  line-height: var(--basic-text-line-height);
  position: relative;
  text-align: center;
  width: 100%;
}

