.footer {
    background-color: #61c140;
    border-radius: 2px;
    height: 277px;
    position: relative;
    width: 100%;
  }
  
.text-wrapper-11 {
    color: #ffffff;
    font-family: "Red Hat Display", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0.68px;
    line-height: normal;
    position: absolute;
    top: 49px;
  }
  
 .frame-9 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 50px;
    position: absolute;
    top: 90px;
  }
  
  .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 6px;
    position: relative;
  }
  
.img-2 {
    height: 19px;
    position: relative;
    width: 19px;
  }
  
.text-wrapper-12 {
    color: #ffffff;
    font-family: "Red Hat Display", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
.frame-11 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
  }
  
.vector {
    height: 13px;
    position: relative;
    width: 19px;
  }
  
.frame-12 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top:49px;
    margin-right:50px;
    gap: 25px;
  }
  
.text-wrapper-13 {
    color: #ffffff;
    font-family: "Red Hat Display", Helvetica;
    font-size: 15px;
  
  font-weight: 500;
    letter-spacing: 0.68px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
.text-wrapper-14 {
    color: #ffffff;
    font-family: "Red Hat Display", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
.text-wrapper-15 {
    color: #ffffff;
    font-family: "Red Hat Display", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    position: absolute;
    bottom:0px;
    left: 50px;
}