.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .frame-wrapper {
  background-color: #ffffff;
  min-width: 100%;
  height: auto;
}

.element .frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 90px;
  position: relative;
}

.element .header {
  background-color: #61c140;
  border-radius: 2px;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  height: auto;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.element .text-wrapper {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.68px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.element .solar-football-bold {
  height: 27px;
  width: 27px;
  position: relative;
  top: 5px;
}

.element .hero-page {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.element .rectangle {
  min-width: 100%;
  max-height: 489px;
  object-fit: cover;
  position: relative;
}

.element .div-wrapper {
  background-color: #61c140;
  border-radius: 2px;
  height: auto;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element .div {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: max-content;
}

.element .footer {
  background-color: #61c140;
  border-radius: 2px;
  height: auto;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.element .text-wrapper-2 {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.68px;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 45px;
}

.element .frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-top: 35px;
}

.element .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.element .img {
  height: 19px;
  position: relative;
  width: 19px;
}

.element .text-wrapper-3 {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.element .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  margin-top: 30px;
}

.element .vector {
  height: 13px;
  position: relative;
  width: 19px;
}

.element .frame-5 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.element .text-wrapper-4 {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 15px;
  font-weight: 500;
  margin-top: -1px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.element .text-wrapper-5 {
  color: #ffffff;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 15px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.element .p {
  color: #ffffff;
  margin-top: 0;
  font-family: "Red Hat Display", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}